h1{
    text-align:center; 
    color: #000000;
    font-family: 'Impact'; 
    background: rgb(255, 166, 0); 
    border: 3px double rgb(0, 0, 0); 
    padding: 5px;  
}
p{
    text-align:center;
    color: rgb(255, 255, 255);
    width: 100%;
    font-family: 'Impact'; 
}
body{
    background: rgb(0, 0, 0);
    font-weight: 400;
    font-style: normal;
}  

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    max-height: 500px;
}

.img-box {  
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    overflow: auto;
    margin: 20px ;
    padding: 10px;
    border-radius: 10px;
    max-width: 200px;
    max-height: 200px;
    border: 5px double rgb(255, 80, 80);
    background: rgb(133, 133, 133);
}



.img{
    overflow: auto;
    width:100%;
    height:100%;   
}