*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(15, 17, 65);
}

header{
    text-align: center;
    padding: 40px;
    color: rgb(80, 170, 255);
}

.center{
    max-width: 1200px;
    padding: 0 25px;
    margin: 0 auto;
}

.main-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.main-aba{
    width: 350px;
    padding: 15px;
    border: 6px solid rgb(52, 72, 165);
    border-bottom-left-radius: 55px;
}

.main-abob{
    height: 150px;
    border: 5px solid rgb(76, 50, 190);
    margin-bottom: 20px;
    border-radius: 5px;
}

.main-abob img{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%
    
}

.main-desc{
    text-align: center;
    font-size: 22px;
    font-style: italic;
    color: rgb(56, 166, 199);
}

footer{
    padding: 20px;
}

.footer-text{
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color:rgb(60, 46, 136);
}
