*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    padding: 40px;
}

.center{
    max-width: 1280px;
    padding: 0 25px;
    margin: 0 auto;
}

.main-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.main-card{
    width: 280px;
    padding: 15px;
    border: 4px solid black;
}

.main-card-container{
    height: 150px;
    border: 3px solid black;
    margin-bottom: 20px;
}

.main-card-container img{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%
}

.main-card-desc{
    text-align: center;
    font-size: 22px;
}

footer{
    padding: 40px;
}

.footer-text{
    display: block;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}