*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    padding: 40px;
    color:rgb(12, 3, 1);
    font-family: "Garamond";
}

.wrapper{
    max-width: 1600px;
    padding: 0 25px;
    margin: 0 auto;
}

.block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
}

.card{
    width: 300px;
    padding: 25px;
    border: 4px solid #000000;
    background-color: rgb(192, 127, 107);
    border-radius: 20px 0 20px 0;
    color:rgb(247, 242, 242);
    font-family: "Garamond";
    font-style: italic;
}

.card-container{
    height: 165px;
    border: 3px solid rgba(80, 40, 28, 0.815);
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px 0 20px 0;
}

.card-container img{
    object-fit: contain;
    display: block;
    width: 100%;
    height: 100%
}

.card-desc{
    text-align: center;
    font-size: 22px;
}

footer{
    padding: 40px;
}

.footer-text{
    display: block;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color:rgb(0, 0, 0);
    font-family: "Garamond";
}