* {
    box-sizing: border-box;
  }
  .header {
    padding-top: 10px;
  }
  h1,
  h3 {
    text-align: center;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  .container {
    width: 100%;
    max-width: 1600px;
  }
  
  img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
  }
  .main__fridge {
    width: 200px;
    height: 245px;
    background-color: #fff;
    border: 3px solid #d8d8d8;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .vegetable {
    padding-bottom: 40px;
  }
  .section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  
